<%- include('./layouts/header.ejs') %>

<h1 class="title">Role Base Access Control</h1>
<div class="info">
    <ol class="info1">
        <li><b>express Js</b></li>
        <li><b>EJS</b>templating engine</li>
        <li>
            <b>Stylling -</b>Custom CSS(You can use any like Bootstrap,Tailwind etc...)
        </li>
        <li><b>Passport Js</b>local authenticaltion (Email , Password)</li>
        <li><b>roles</b>(admin , moderator , client)</li>
        <li><b>Authorization</b>()admin , user and moderator routes</li>
        <li><b>Mongoose</b>(ORM for MongoDB)</li>
        <li><b>How to use</b>Express Sessions</li>
        <li>
            Using sessions to <b>persist Login</b>after server reboot (using mondo store)
        </li>
        <li><b>Redirect</b>To the same page after login</li>
        <li><b>VAlidating</b> user input server side</li>
        <li><b> Flash messages</b></li>
        <li>Handling <b>HTTP Error</b> ex (404 , etc)</li>
        <li>Somethings are always extra</li>
    </ol>
</div>

<%- include('./layouts/footer.ejs') %>
